name: Build App

on:
  workflow_dispatch:
    inputs:
      app_id:
        description: 'App ID'
        required: true
        default: '65ceac31a02e415f4ba6fe55'  # You can adjust the default value as necessary
      jwtToken:
        description: 'JWT Token for Authentication'
        required: true
        default: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY1Y2Q5NWM0NzIwNWFhY2NhYjBkOGRlZSIsImlhdCI6MTcwODE0NzE3OSwiZXhwIjoxNzA4MjMzNTc5fQ.UfugeTLzA1AZlcdjE2gKk9KGKMxPjctNJW5mQi580Cg'
jobs:
  make_request_and_store_response:
    name: Ios - Build a new version
    runs-on: macos-13
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '14.2.0'

      - name: Set up Ruby (Fastlane is a Ruby gem)
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7' # Specify the Ruby version you need for your project
          
      - name: Install Fastlane
        run: |
          gem install fastlane

      # - name: Curl request and extract _id
      #   run: |
      #     RESPONSE=$(curl --location "https://qikmobileapp-3be95504c721.herokuapp.com/api/user-app/${{ github.event.inputs.app_id }}" \
      #     --header "x-access-token: ${{ github.event.inputs.jwtToken }}")
      #     echo "Response: $RESPONSE"
      #     ID=$(echo $RESPONSE | jq -r '._id')
      #     SOURCE_FILE_BUCKET_KEY=$(echo $RESPONSE | jq -r '.sourceFileBucketKey')
      #     BUNDLE_IDENTIFIER=$(echo $RESPONSE | jq -r '.identifier.attributes.identifier')
      #     echo "Extracted _id: $ID"
      #     echo "SOURCE_FILE_BUCKET_KEY=${SOURCE_FILE_BUCKET_KEY}" >> $GITHUB_ENV
      #     echo "BUNDLE_IDENTIFIER=${BUNDLE_IDENTIFIER}" >> $GITHUB_ENV
          
      # - name: Download Source Code ZIP file
      #   run: |
      #     wget "https://source-code-zip-ios.s3.us-west-1.amazonaws.com/${SOURCE_FILE_BUCKET_KEY}" -O src.zip

      - name: Copy Archive.zip from repository
        run: cp Archive.zip src.zip
         
      - name: Unzip the downloaded file
        run: |
          unzip src.zip -d ios

      - name: Remove MACOSX files
        run: |
          rm -rf __MACOSX
        working-directory: ./ios

      - name: List source folder
        run: |
          ls
        working-directory: ./ios

      - name: Move fastlane folder into ios
        run: |
          cp -rf ../fastlane .
        working-directory: ./ios

      - name: Move Gemfile folder into ios
        run: |
          cp ../Gemfile .
        working-directory: ./ios
        
      - name: List source folder
        run: |
          ls
        working-directory: ./ios

      - name: List fastlane directory
        run: |
          ls
        working-directory: ./ios/fastlane

      - name: List fastlane directory
        run: |
          ls
        working-directory: ./ios/fastlane
        
      - name: Create App Store Connect API Key File
        run: |
          echo "${{ secrets.P8FILE }}" > ./ios/AuthKey_979XF8DJ48.p8
        shell: bash

      - name: Verify .p8 file creation
        run: ls -l ./ios/

      - name: Install Provisioning Profile
        run: |
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles/
          cp test_profile_app.mobileprovision ~/Library/MobileDevice/Provisioning\ Profiles/
        
      - name: Install dependencies and run fastlane
        run: |
          gem install bundler -v 2.4.22
          gem install down
          bundle _2.4.22_ install
          bundle exec fastlane build_and_echo_ipa_url bundle_identifier:${{ env.BUNDLE_IDENTIFIER }}
        working-directory: ./ios
        env:
          BUNDLE_IDENTIFIER: ${{ env.BUNDLE_IDENTIFIER }}


        
